/*
Colores:
Navy Blue #18121e
Gunmetal #233237
Rusty Red #984b43
Warm Yellow #eac67a
Nude #eee2d4
Texto #f5f5f5
*/

/* general */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: #1b1b1b;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Exo', sans-serif;
    color: whitesmoke;
}

nav{
    background-color: #1b1b1b;

}

nav a {
    text-decoration: none;
    color: #f5f5f5 ;
        background-color: #1b1b1b;

}

nav a:hover {
    text-decoration: none;
    color: #eac67a;
}

h2 {
    font-family: 'Exo', sans-serif;
    font-size: 1.75 em;
}

p {
    font-family: 'Merriweather Sans';
    font-size: 1em;
    color: #f5f5f5;

}

h3 {
    font-family: 'Exo', sans-serif;
    font-size: 1.25em;
}

ul {
    list-style: none;
}


/* Landing */
#inicio{
    background-color: #1b1b1b;

}

.bigTittle {

    font-family: 'Krona One', sans-serif;
    font-size: 6em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 300px 0;
    color: #fff;
    position: relative;

}

.slogan {
    font-size: 3em;
    font-style: italic;
    text-align: right;
    color: blanchedalmond;
    position: relative;
    margin-bottom: 1.5rem;

}

.barfondo{
    width: 100%;
    height: 82vh;
    position: absolute;
    opacity: 0.6;

}





/* .principalMain {
    background-image: url('../imagenes/decoracionbar.jpg') ;
    background-size: 100%;
    opacity: ;


} */

.slidedown a {
    margin: 0 auto;
    color: #f5f5f5;
    text-align: center;
    display: block;
    width: 15%;
    height: 2rem;
    background-color: #233237;
    opacity: .3;
    position: relative;

}


/* Nosotros */
#nosotros{
    background-color: #1b1b1b;

}
.sectionTittle {

    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 2.5rem;
    color: whitesmoke;


}

.presentacion {

    display: flex;
}

.presentacion-text {
    margin: auto;
    padding: 5rem;
    text-align: end;
    color: whitesmoke;

}

.slidepics {
    /* margin: auto; */
    padding: 1.5rem;
    background-color: #233237;
    margin-bottom: 4rem;
    margin-top: 2rem;
     width: 50vw;
}


/* Menu en landing */
#menu h3{
    text-align: center;
    font-size: 1.5rem;
    color: #984b43;

}

.entrada-main,
.principales-main,
.bebida-main {

    width: 28%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.columnasMenu {

    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}






/* Eventos */
#eventos {
    color: blanchedalmond;
    background-color: #18121e;

}
#eventos h3{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;

}

#eventos p{
    text-align: center;
    margin: 0 10% 0 10%;
   }
   .maintextarea{
       margin-bottom: 5vh;
   }





/* .grid-container {


    max-width: 90%;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: space-around;


    grid-template-columns: 500px 500px;
    grid-template-rows:300px;
    grid-gap: 1rem;
    /*separacion }*/

/* } 
.grid-container img{

    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 10px; 
}*/



.formulario1{

background-color: #18121e;
border: 2px darkgray;
color: whitesmoke;
margin-top: 20px;
}



/* Contacto */
#contacto {

    background-color:#1b1b1b;
}

.logoWhatsapp {

    position: fixed;
    bottom: 0px;
    right: 0px;

}

.wsLogo {
    width: 50%;
    height: 50%;
    z-index: 3;
}

/* Seccion contacto */


.cajaRedes {
    width: 15%;
    height: 30vh;
    background-color: #233237;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#facelogo,
#iglogo {
    width: 30%;
    display: flex;
    margin: auto;
    align-content: center;

}

.cajaMail {
    width: 15%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    background-color: #233237;
    justify-content: center;
    align-content: space-around;

}

#logomail {
    width: 25%;
    display: flex;
    margin: 0 auto;
}



.cajaTelefonos {

    width: 15%;
    height: 30vh;
    background-color: #233237;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#logotelefono,
#logowhatsapp {

    width: 20%;
    display: flex;
    margin: 0 auto;

}

.cajaMapa {
    width: 15%;
    /* height: 150px; */
    height: 30vh;
    background-color: #233237;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.textocajas {
    text-align: center;
}

#logomapa {
    width: 30%;
    display: flex;
    /*no entendi por que aqui tengo que redundar con flex si ya el padre tiene esa configuracion*/
    margin: 0 auto;

}

.todasCajas {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.contacta {
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 1.5em;
    color: #f5f5f5;
}

.goTop a {

    margin: 0 auto;
    background-color: #233237;
    opacity: .3 ;
    text-align: center;
    display: block;
    width: 10%;
    height: 2rem;
    transition: all 0.5s;
}

.goTop a:hover{
    transform: translateY(-5px);
}

iframe {
    padding-top: 20px;
    /* margin: 0 auto; */

}
/* Formulario en la parte de contacto */
.formulario2{

    background-color: #1b1b1b;
    border: 2px darkgray;
    color: whitesmoke;
    margin-top: 20px;
    width: 90vh;
}

.form-row input[type="text"], [type="email"]{

    background-color: #233237;
    border: 1px solid darkgray;
    border-radius: 3px;
    width: 100%;
    color: whitesmoke;

}
.form-row input[type="text"]:invalid, [type="email"]:invalid {

border: 2px solid #984b43;
}
label#comentarios{
    width: 100%;
}
textarea{
    width: 100%;
    resize: none;
    background-color: #233237;
}



.interactive {
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-around;
    align-items: center;

}



/* Pagina del menu */

.headMenu {
    display: flex;
    justify-content: space-between;
    height: 80px;
    /* position: fixed; */
}

.navItems {

    align-self: center;
    justify-self: self-end;

}

.navItems a {
    margin-right: 20px;


}

.principalMenu {

    /* Los items en este contenedor deben estar centrados */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

#entradas,
#principales,
#bebidas {
    background-color: blanchedalmond;
    width: 28%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.fotoEntrada,
.fotoPrincipales,
.fotoBebida {
    width: 90%;
    transition: all 1s;
}
.fotoEntrada:hover{
    transform: scale(1.10);

}
.fotoPrincipales:hover{
    transform: scale(1.10);
}
.fotoBebida:hover{
    transform: scale(1.10);
}


/* #entradas{
/* position: relative;
float: left;
margin: 5% 10% 0 5%;}
*/

/* #principales{

    /* position: relative;
    float: left;
    margin: 5% 10% 0 0;
} */
/* #bebidas{

    /* position: relative;
    float: left;
    margin: 5% 5% 0 0;
} */