@import '../variables/colores';
/*------------------Eventos----------------*/

#eventos {
	color: blanchedalmond;
	background-color: #18121e;
	padding-bottom: 5%;
	h3 {
		text-align: center;
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}
	p {
		text-align: center;
		margin: 0 10% 0 10%;
	}
}
.maintextarea {
	margin-bottom: 5vh;
}
.formularioevent {
	color: nth($color,2);
	margin-top: 20px;
	display: flex;
	align-items: center;
	
	.elementosForm{
		margin: 0 auto;
		display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;;
	}

	input[type="text"]
	{
	display: block;
	  background-color: nth($color,4);
	  border: 1px solid darkgray;
	   border-radius: 3px;
	  width: 80%;
	  color: whitesmoke;}
	  &:invalid {
	   border: 2px solid #984b43;
	  }
	  
	[type="email"] {
		display: block;
		background-color: nth($color,4);
		border: 1px solid darkgray;
		border-radius: 3px;
		width: 80%;
		color: whitesmoke;}
   &:invalid {
		   border: 2px solid #984b43;
		}
	}

   	 label#comentarios {
		width: 100%;
	 }
	 textarea {
		color: blanchedalmond;
	 	width: 80%;
		resize: none;
		background-color: nth($color,4);
	 }
	 fieldset{
		text-align: center;
	 }
	