@import '../variables/colores';
/*------------- Inicio----------------*/


.navbar-nav{
	a{
		color: nth($color,2) !important;
		&:hover{
			color: nth($color,5) !important;
		}
	}
	
}


.inicioContainer{
	background-image: url(../imagenes/decoracionbar.png);
	background-size: cover;

	padding-bottom: 2.6rem;
	margin-bottom: 4rem;
	
	@media(max-width: $phone){
		background-image: url(../imagenes/vikingopac2.png);
		background-size: cover;
		padding-bottom: 12rem;
	}
	@media(min-width: $phone)and(max-width:$tablet){
		background-image: url(../imagenes/viking-opac.png);
	}

	
}
.bigTittle {
	font-family: 'Krona One', sans-serif;
	font-size: 6em;
	text-transform: uppercase;
	text-align: center;
	margin: 4rem 0 10rem 0;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	
	@media(max-width: $phone){
			margin: 6rem 0;
	}
	@media(min-width: $phone)and(max-width:$tablet){
			margin: 3rem auto;}
	@media(min-width: $tablet)and(max-width:$computer){
		margin: 0 0 6rem 0;
}
 }

.slogan {
	font-size: 2rem;
	font-style: italic;
	text-align: center;
	color: blanchedalmond;
	text-shadow:black 0.1rem 0.1rem 0.2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	padding-bottom:3rem;


		
}

.arrow{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

	.arrowshake{

		&:hover{
			animation: shake 1.2s;
	
			
			animation-iteration-count: 3;
		  }
		  
		  @keyframes shake {
			0% { transform: translate(0,1px); }
			10% { transform: translate(0,-2px); }
			20% { transform: translate(0, 0px); }
			30% { transform: translate(0, 2px); }
			40% { transform: translate(0, -1px); }
			50% { transform: translate(0, 2px); }
			60% { transform: translate(0, 1px); }
			70% { transform: translate(0, 1px); }
			80% { transform: translate(0, -1px);}
			90% { transform: translate(0, 2px); }
			100% { transform: translate(0, -2px);}
	}


	}



	

	@media(max-width: $phone){
		display: none;
	}
	@media(min-width: $phone)and(max-width:$tablet){
		display: none;}

}