@import '../variables/colores';
/*------------- Inicio----------------*/


.navbar-nav{
	a{
		color: nth($color,2) !important;
		&:hover{
			color: nth($color,5) !important;
		}
	}
	
}


	


.inicioContainer{
	background-image: url(../../imagenes/decoracionbar.png);
	background-size: cover;
	
	margin-bottom: 5rem;
	
	@media(max-width: $phone){
		background-image: url(../../imagenes/vikingopac2.png);
	}
	@media(min-width: $phone)and(max-width:$tablet){
		background-image: url(../../imagenes/viking-opac.png);
	}

	
}
.bigTittle {
	font-family: 'Krona One', sans-serif;
	font-size: 6em;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 300px 0;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	
	
	

	@media(max-width: $phone){
		position: unset;
		margin-bottom: 15rem;
	}
	@media(min-width: $phone)and(max-width:$tablet){
		position: unset;
		margin: 5rem auto;}
	@media(min-width: $tablet)and(max-width:$computer){
		margin: 0 0 120px 0;
}

	
 }
.slogan {
	font-size: 3em;
	font-style: italic;
	text-align: right;
	color: blanchedalmond;
	text-shadow:black 0.1em 0.1em 0.2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	padding-bottom:5rem;


		
}

