@import '../variables/colores';
/*--------------- Nosotros---------------/*/
#nosotros {
	background-color: nth($color, 1);
	padding: 2rem 0 0 0;
	h3{
		color:nth($color,2);
		text-align: center;
		margin: 2rem 0;
		padding-bottom: 2rem;
	}

}
.sectionTittle {
	text-align: center;
	font-size: 2.5rem;
	text-transform: uppercase;
	padding: 2.5rem;
	color: whitesmoke;

	@media(max-width: $phone){
		font-size: 1.25rem;
	}
}
.presentacion{
	p{
		font-weight: 300;
		text-align: center;

}

}
